Repository dedis/dela, pull requests merged in 2020-10, with the labels that each got.

#51 Adds a utility to generate the dependency graph of each package
  core/ordering/cosipbft/proc.go
  go.mod
  go.sum
  internal/depgraph/dep.yml
  internal/depgraph/mod.go
Labels: R4M 🚀

#127 Adds a mino stream example
  docs/mino.md
Labels: R4M 🚀, documentation

#126 Cosipbft: fix a synchronization issue with the tree
  core/ordering/cosipbft/blockstore/mem.go
  core/ordering/cosipbft/blockstore/mem_test.go
  core/ordering/cosipbft/blockstore/mod.go
  core/ordering/cosipbft/blockstore/tree.go
  core/ordering/cosipbft/blockstore/tree_test.go
  core/ordering/cosipbft/blocksync/default.go
  core/ordering/cosipbft/blocksync/default_test.go
  core/ordering/cosipbft/mod.go
  core/ordering/cosipbft/mod_test.go
  core/ordering/cosipbft/pbft/mod.go
  core/ordering/cosipbft/proc.go
  internal/testing/fake/mino.go
  internal/testing/fake/mod.go
  mino/minoch/rpc.go
  mino/minoch/rpc_test.go
Labels: R4M 🚀, bug

#125 Minogrpc: certificates storage on disk
  cli/node/memcoin/mod.go
  cli/node/memcoin/mod_test.go
  core/ordering/cosipbft/controller/mod.go
  core/ordering/cosipbft/controller/mod_test.go
  core/store/hashtree/binprefix/tree_test.go
  core/store/kv/controller/mod.go
  core/store/kv/default_test.go
  crypto/loader/file.go
  crypto/loader/file_test.go
  crypto/loader/mod.go
  internal/testing/fake/mino.go
  internal/testing/fake/store.go
  mino/minogrpc/certs/disk.go
  mino/minogrpc/certs/disk_test.go
  mino/minogrpc/certs/mem.go
  mino/minogrpc/certs/mem_test.go
  mino/minogrpc/certs/mod.go
  mino/minogrpc/controller/actions_test.go
  mino/minogrpc/controller/mod.go
  mino/minogrpc/controller/mod_test.go
  mino/minogrpc/mod.go
  mino/minogrpc/mod_test.go
  mino/minogrpc/rpc.go
  mino/minogrpc/rpc_test.go
  mino/minogrpc/server.go
  mino/minogrpc/server_test.go
Labels: Mino, R4M 🚀

#136 Memcoin: fix signal issues with Windows during tests
  cli/node/builder.go
  cli/node/builder_test.go
  cli/node/daemon.go
  cli/node/daemon_test.go
  cli/node/memcoin/mod.go
  cli/node/memcoin/mod_test.go
Labels: bug

#130 Documentation: update flatcosi comments, add example.
  cosi/flatcosi/example_test.go
  cosi/flatcosi/handler.go
  cosi/flatcosi/handler_test.go
  cosi/flatcosi/mod.go
  cosi/flatcosi/mod_test.go
  cosi/mod.go
Labels: R4M 🚀, documentation

#131 Blockstore: use a buffer for watch events
  core/ordering/cosipbft/blockstore/disk.go
  core/ordering/cosipbft/blockstore/mem.go
  core/ordering/cosipbft/blockstore/mem_test.go
Labels: R4M 🚀, enhancement, ordering mod

#128 Cosipbft: recover from a block propagation failure
  core/ordering/cosipbft/mod.go
  core/ordering/cosipbft/mod_test.go
  core/ordering/cosipbft/pbft/mod.go
  core/ordering/cosipbft/pbft/mod_test.go
  core/ordering/cosipbft/proc.go
  core/ordering/cosipbft/proc_test.go
  cosi/threshold/actor.go
  cosi/threshold/handler.go
  cosi/threshold/mod.go
  cosi/threshold/mod_test.go
  dkg/pedersen/mod_test.go
  mino/minoch/mod.go
  mino/minoch/mod_test.go
  mino/minoch/rpc.go
  mino/minoch/rpc_test.go
  mino/minogrpc/addr.go
  mino/minogrpc/addr_test.go
  mino/minogrpc/controller/mod.go
  mino/minogrpc/mod.go
  mino/minogrpc/mod_test.go
  mino/minogrpc/rpc.go
  mino/minogrpc/rpc_test.go
  mino/minogrpc/server.go
  mino/minogrpc/server_test.go
  mino/minogrpc/session/addr.go
  mino/minogrpc/session/addr_test.go
  mino/minogrpc/session/mod.go
  mino/minogrpc/session/mod_test.go
Labels: R4M 🚀, enhancement

#133 Documentation: add technical doc to the crypto packages
  crypto/bls/mod.go
  crypto/common/mod.go
  crypto/ed25519/mod.go
  crypto/hash.go
  crypto/loader/file.go
  crypto/loader/mod.go
  crypto/mod.go
  crypto/rand.go
Labels: R4M 🚀, documentation

#132 Documentation: thresholded collective signing documentation
  core/ordering/cosipbft/blocksync/default_test.go
  core/ordering/cosipbft/controller/mod.go
  core/ordering/cosipbft/mod_test.go
  cosi/messages.go
  cosi/threshold/actor.go
  cosi/threshold/actor_test.go
  cosi/threshold/handler.go
  cosi/threshold/handler_test.go
  cosi/threshold/mod.go
  cosi/threshold/mod_test.go
  cosi/threshold/types/mod.go
  dkg/pedersen/handler_test.go
  dkg/pedersen/mod_test.go
  internal/testing/fake/mino.go
Labels: R4M 🚀, documentation

#134 Minogrpc: verify validity of a shared certificate
  internal/testing/fake/mino.go
  mino/minogrpc/server.go
  mino/minogrpc/server_test.go
  mino/minogrpc/session/addr.go
  mino/minogrpc/session/addr_test.go
Labels: Mino, enhancement

#135 Documentation: add examples to crypto packages
  cli/node/memcoin/mod_test.go
  core/ordering/cosipbft/mod_test.go
  crypto/bls/example_test.go
  crypto/common/example_test.go
  crypto/common/mod.go
  crypto/common/mod_test.go
  crypto/ed25519/example_test.go
  crypto/loader/example_test.go
  crypto/loader/file.go
  crypto/loader/mod.go
Labels: R4M 🚀, documentation

#152 Documentation: update access comments
  core/access/credentials.go
  core/access/darc/example_test.go
  core/access/darc/mod.go
  core/access/darc/types/expr.go
  core/access/darc/types/mod.go
  core/access/darc/types/permission.go
  core/access/mod.go
Labels: R4M 🚀, access mod, documentation

#146 Documentation: update store comments
  core/ordering/cosipbft/blockstore/disk_test.go
  core/store/hashtree/binprefix/disk.go
  core/store/hashtree/binprefix/format.go
  core/store/hashtree/binprefix/mod.go
  core/store/hashtree/binprefix/path.go
  core/store/hashtree/binprefix/tree.go
  core/store/hashtree/mod.go
  core/store/kv/controller/mod.go
  core/store/kv/default.go
  core/store/kv/default_test.go
  core/store/kv/example_test.go
  core/store/kv/mod.go
  core/store/mod.go
Labels: R4M 🚀, documentation, store mod

#145 Documentation: update txn comments
  core/txn/mod.go
  core/txn/signed/controller/mod.go
  core/txn/signed/example_test.go
  core/txn/signed/mod.go
  core/txn/signed/mod_test.go
Labels: R4M 🚀, documentation, txn mod

#153 Make: add a command to update the doc
  Makefile
Labels: R4M 🚀, documentation

#140 Documentation: update mino packages documentation
  core/ordering/cosipbft/blockstore/mem_test.go
  core/ordering/cosipbft/blocksync/default_test.go
  core/ordering/cosipbft/mod_test.go
  core/txn/pool/gossip/mod_test.go
  cosi/flatcosi/example_test.go
  cosi/threshold/mod_test.go
  mino/addr.go
  mino/gossip/flat.go
  mino/gossip/mod.go
  mino/minoch/address.go
  mino/minoch/example_test.go
  mino/minoch/manager.go
  mino/minoch/mod.go
  mino/minoch/mod_test.go
  mino/minoch/rpc.go
  mino/minoch/rpc_test.go
  mino/minogrpc/rpc_test.go
  mino/minogrpc/server.go
  mino/minogrpc/session/mod.go
  mino/minogrpc/session/mod_test.go
  mino/mod.go
  mino/option.go
  mino/response.go
  mino/router/mod.go
  mino/router/tree/example_test.go
  mino/router/tree/mod.go
  mino/router/tree/mod_test.go
  mino/router/tree/tree.go
  mino/router/tree/types/handshake.go
  mino/router/tree/types/mod.go
  mino/router/tree/types/packet.go
Labels: Mino, R4M 🚀, documentation

#141 Documentation: update minogrpc documentation
  core/ordering/cosipbft/controller/action.go
  core/ordering/cosipbft/controller/action_test.go
  mino/minogrpc/mod.go
  mino/minogrpc/mod_test.go
  mino/minogrpc/rpc.go
  mino/minogrpc/rpc_test.go
  mino/minogrpc/server.go
  mino/minogrpc/server_test.go
Labels: Mino, R4M 🚀, documentation

#147 Documentation: update execution comments
  core/execution/mod.go
  core/execution/native/example_test.go
  core/execution/native/mod.go
  core/execution/native/mod_test.go
  core/ordering/cosipbft/contracts/viewchange/mod.go
  core/ordering/cosipbft/contracts/viewchange/mod_test.go
  core/ordering/cosipbft/controller/action.go
  core/ordering/cosipbft/controller/mod.go
  core/ordering/cosipbft/mod.go
  core/ordering/cosipbft/mod_test.go
  core/ordering/cosipbft/proc.go
  core/ordering/pow/mod_test.go
Labels: R4M 🚀, documentation, execution mod

#142 Documentation: update minogrpc packages
  mino/minogrpc/certs/disk.go
  mino/minogrpc/certs/example_test.go
  mino/minogrpc/certs/mem.go
  mino/minogrpc/certs/mod.go
  mino/minogrpc/controller/actions.go
  mino/minogrpc/controller/mod.go
  mino/minogrpc/example_test.go
  mino/minogrpc/session/addr.go
  mino/minogrpc/session/mod.go
  mino/minogrpc/session/queue.go
  mino/minogrpc/tokens/mod.go
Labels: Mino, R4M 🚀, documentation

#155 Fix: daemon socket communication
  cli/node/builder.go
  cli/node/builder_test.go
  cli/node/daemon.go
  cli/node/daemon_test.go
  cli/node/memcoin/mod_test.go
  core/ordering/cosipbft/mod.go
Labels: R4M 🚀, bug

#156 Mino: namespace refactoring
  core/ordering/cosipbft/blocksync/default.go
  core/ordering/cosipbft/blocksync/default_test.go
  core/ordering/cosipbft/controller/mod.go
  core/ordering/cosipbft/controller/mod_test.go
  core/ordering/cosipbft/mod.go
  core/ordering/cosipbft/mod_test.go
  cosi/flatcosi/mod.go
  cosi/flatcosi/mod_test.go
  cosi/threshold/mod.go
  cosi/threshold/mod_test.go
  dkg/pedersen/mod.go
  dkg/pedersen/mod_test.go
  internal/testing/fake/mino.go
  mino/gossip/flat.go
  mino/gossip/flat_test.go
  mino/minoch/example_test.go
  mino/minoch/mod.go
  mino/minoch/mod_test.go
  mino/minoch/rpc_test.go
  mino/minogrpc/example_test.go
  mino/minogrpc/mod.go
  mino/minogrpc/mod_test.go
  mino/minogrpc/server_test.go
  mino/mod.go
  mino/mod_test.go
Labels: Mino, R4M 🚀, enhancement

#154 Documentation: update cosipbft comments
  core/ordering/cosipbft/mod.go
  core/ordering/cosipbft/mod_test.go
  core/ordering/cosipbft/proc.go
  core/ordering/cosipbft/proof.go
Labels: R4M 🚀, documentation, ordering mod

#158 Documentation: update pbft comments
  core/ordering/cosipbft/pbft/mod.go
  core/ordering/cosipbft/pbft/mod_test.go
  core/ordering/cosipbft/pbft/view.go
Labels: R4M 🚀, documentation, ordering mod

#143 Documentation: update serde doc and add examples
  core/ordering/cosipbft/blockstore/mem.go
  core/ordering/cosipbft/blockstore/mem_test.go
  serde/context.go
  serde/example_test.go
  serde/json/mod.go
  serde/mod.go
  serde/registry/mod.go
  serde/registry/simple.go
Labels: R4M 🚀, documentation

#144 Documentation: update validation comments + example
  core/ordering/cosipbft/blockstore/disk_test.go
  core/ordering/cosipbft/blockstore/mem_test.go
  core/ordering/cosipbft/blocksync/default_test.go
  core/ordering/cosipbft/blocksync/types/mod_test.go
  core/ordering/cosipbft/json/link_test.go
  core/ordering/cosipbft/json/mod.go
  core/ordering/cosipbft/json/mod_test.go
  core/ordering/cosipbft/mod.go
  core/ordering/cosipbft/mod_test.go
  core/ordering/cosipbft/pbft/mod_test.go
  core/ordering/cosipbft/proc_test.go
  core/ordering/cosipbft/proof_test.go
  core/ordering/cosipbft/types/block.go
  core/ordering/cosipbft/types/block_test.go
  core/ordering/pow/block.go
  core/ordering/pow/block_test.go
  core/ordering/pow/mod.go
  core/ordering/pow/mod_test.go
  core/validation/mod.go
  core/validation/simple/example_test.go
  core/validation/simple/json/mod.go
  core/validation/simple/mod.go
  core/validation/simple/mod_test.go
  core/validation/simple/result.go
  core/validation/simple/result_test.go
  core/watcher.go
Labels: R4M 🚀, documentation, validation mod

#157 Documentation: update cosipbft packages comments
  cli/node/memcoin/mod.go
  core/ordering/cosipbft/authority/changeset.go
  core/ordering/cosipbft/authority/mod.go
  core/ordering/cosipbft/authority/roster.go
  core/ordering/cosipbft/blockstore/disk.go
  core/ordering/cosipbft/blockstore/genesis.go
  core/ordering/cosipbft/blockstore/mem.go
  core/ordering/cosipbft/blockstore/mod.go
  core/ordering/cosipbft/blockstore/tree.go
  core/ordering/cosipbft/blocksync/default.go
  core/ordering/cosipbft/blocksync/mod.go
  core/ordering/cosipbft/blocksync/types/mod.go
  core/ordering/cosipbft/controller/action.go
  core/ordering/cosipbft/controller/mod.go
  core/ordering/cosipbft/controller/mod_test.go
  core/ordering/cosipbft/types/block.go
  core/ordering/cosipbft/types/chain.go
  core/ordering/cosipbft/types/messages.go
  core/ordering/cosipbft/types/mod.go
Labels: R4M 🚀, documentation, ordering mod

#159 Documentation: add ledger section to the design doc
  docs/cosipbft.md
  docs/ledger.md
  docs/sidebar.md
  mod.go
Labels: design/architecture, documentation

#160 Documentation: update cli comments
  cli/mod.go
  cli/node/builder.go
  cli/node/builder_test.go
  cli/node/daemon.go
  cli/node/daemon_test.go
  cli/node/example_test.go
  cli/node/flagset.go
  cli/node/injector.go
  cli/node/mod.go
  core/ordering/cosipbft/controller/mod_test.go
Labels: R4M 🚀, documentation

#161 Serde: add XML to the example
  serde/example_test.go
  serde/mod.go
  serde/xml/mod.go
  serde/xml/mod_test.go
Labels: R4M 🚀, documentation, enhancement

#139 Adds diagrams and updates doc
  docs/architecture.md
  docs/assets/cosipbft.png
  docs/assets/dela-flow.png
  docs/assets/overview.png
  docs/assets/packages.png
  docs/assets/stacks.png
  docs/coverpage.md
  docs/diagrams/dela.drawio
  docs/introduction.md
  internal/depgraph/dep.yml
Labels: R4M 🚀, design/architecture, documentation
