Repository dedis/dela, pull requests merged in 2020-05, with the labels that each got.

#40 Roster change preparation
  blockchain/mod.go
  blockchain/skipchain/block.go
  blockchain/skipchain/block_test.go
  blockchain/skipchain/conode.go
  blockchain/skipchain/conode_test.go
  blockchain/skipchain/handler.go
  blockchain/skipchain/handler_test.go
  blockchain/skipchain/messages.pb.go
  blockchain/skipchain/messages.proto
  blockchain/skipchain/mod.go
  blockchain/skipchain/mod_test.go
  blockchain/skipchain/validator.go
  blockchain/skipchain/validator_test.go
  blockchain/viewchange/constant.go
  blockchain/viewchange/constant_test.go
  blockchain/viewchange/mod.go
  consensus/cosipbft/forward_link.go
  consensus/cosipbft/forward_link_test.go
  consensus/cosipbft/messages.pb.go
  consensus/cosipbft/messages.proto
  consensus/cosipbft/mod.go
  consensus/cosipbft/mod_test.go
  consensus/cosipbft/queue.go
  consensus/cosipbft/queue_test.go
  consensus/cosipbft/requests.go
  consensus/cosipbft/requests_test.go
  consensus/mod.go
  consensus/qsc/mod.go
  consensus/qsc/mod_test.go
  consensus/viewchange/constant/mod.go
  consensus/viewchange/constant/mod_test.go
  consensus/viewchange/mod.go
  cosi/flatcosi/mod.go
  cosi/flatcosi/mod_test.go
  cosi/mod.go
  cosi/threshold/mod.go
  cosi/threshold/mod_test.go
  cosi/threshold/signature.go
  docs/introduction.md
  internal/testing/fake/mod.go
  ledger/byzcoin/messages.pb.go
  ledger/byzcoin/messages.proto
  ledger/byzcoin/mod.go
  ledger/byzcoin/mod_test.go
  ledger/byzcoin/roster.go
  ledger/byzcoin/roster_test.go
  ledger/byzcoin/txproc.go
  ledger/byzcoin/txproc_test.go
  ledger/inventory/mem/mod.go
  ledger/inventory/mem/mod_test.go
  ledger/mod.go
  mino/gossip/flat.go
  mino/minoch/mod.go
  mino/minoch/rpc.go
Labels: Byzcoin, R4M 🚀

#42 Byzcoin roster changes
  blockchain/mod.go
  blockchain/skipchain/mod_test.go
  consensus/cosipbft/mod.go
  consensus/cosipbft/mod_test.go
  consensus/viewchange/mod.go
  docs/introduction.md
  encoding/mod.go
  internal/testing/fake/mod.go
  ledger/arc/common/mod.go
  ledger/arc/darc/contract/mod.go
  ledger/arc/darc/contract/mod_test.go
  ledger/arc/darc/expr.go
  ledger/arc/darc/expr_test.go
  ledger/arc/darc/messages.pb.go
  ledger/arc/darc/messages.proto
  ledger/arc/darc/mod.go
  ledger/arc/darc/mod_test.go
  ledger/arc/darc/task.go
  ledger/arc/darc/task_test.go
  ledger/byzcoin/contract/context.go
  ledger/byzcoin/contract/context_test.go
  ledger/byzcoin/contract/messages.pb.go
  ledger/byzcoin/contract/messages.proto
  ledger/byzcoin/contract/mod.go
  ledger/byzcoin/contract/mod_test.go
  ledger/byzcoin/contract/task.go
  ledger/byzcoin/contract/task_test.go
  ledger/byzcoin/messages.pb.go
  ledger/byzcoin/messages.proto
  ledger/byzcoin/mod.go
  ledger/byzcoin/mod_test.go
  ledger/byzcoin/roster/messages.pb.go
  ledger/byzcoin/roster/messages.proto
  ledger/byzcoin/roster/mod.go
  ledger/byzcoin/roster/mod_test.go
  ledger/byzcoin/roster/task.go
  ledger/byzcoin/roster/task_test.go
  ledger/byzcoin/task.go
  ledger/byzcoin/task_test.go
  ledger/byzcoin/txbag.go
  ledger/byzcoin/txbag_test.go
  ledger/byzcoin/txproc.go
  ledger/byzcoin/txproc_test.go
  ledger/consumer/mod.go
  ledger/consumer/smartcontract/context.go
  ledger/consumer/smartcontract/context_test.go
  ledger/consumer/smartcontract/messages.pb.go
  ledger/consumer/smartcontract/mod.go
  ledger/consumer/smartcontract/mod_test.go
  ledger/consumer/smartcontract/tx.go
  ledger/consumer/smartcontract/tx_test.go
  ledger/inventory/mem/mod.go
  ledger/inventory/mem/mod_test.go
  ledger/inventory/mod.go
  ledger/mod.go
  ledger/transactions/basic/messages.pb.go
  ledger/transactions/basic/messages.proto
  ledger/transactions/basic/mod.go
  ledger/transactions/basic/mod_test.go
  ledger/transactions/mod.go
Labels: Byzcoin, R4M 🚀

#38 Implements a simple tree networking topology
  internal/testing/fake/mod.go
  mino/minogrpc/README.md
  mino/minogrpc/mod.go
  mino/minogrpc/mod_test.go
  mino/minogrpc/overlay.go
  mino/minogrpc/overlay.pb.go
  mino/minogrpc/overlay_test.go
  mino/minogrpc/routing/message.pb.go
  mino/minogrpc/routing/message.proto
  mino/minogrpc/routing/routing.go
  mino/minogrpc/routing/routing_test.go
  mino/minogrpc/server.go
  mino/minogrpc/server_test.go
  mino/minogrpc/traffic.go
Labels: Mino, enhancement

#43 Finalization of the roster change
  blockchain/skipchain/block.go
  blockchain/skipchain/block_test.go
  blockchain/skipchain/db.go
  blockchain/skipchain/handler.go
  blockchain/skipchain/handler_test.go
  blockchain/skipchain/messages.pb.go
  blockchain/skipchain/messages.proto
  blockchain/skipchain/mod.go
  blockchain/skipchain/mod_test.go
  blockchain/skipchain/ops.go
  blockchain/skipchain/ops_test.go
  blockchain/skipchain/validator.go
  blockchain/skipchain/validator_test.go
  consensus/cosipbft/mod.go
  consensus/cosipbft/mod_test.go
  consensus/mod.go
  consensus/viewchange/mod.go
  internal/testing/fake/mod.go
  ledger/byzcoin/mod.go
  ledger/byzcoin/mod_test.go
  ledger/byzcoin/roster/messages.pb.go
  ledger/byzcoin/roster/messages.proto
  ledger/byzcoin/roster/mod.go
  ledger/byzcoin/roster/mod_test.go
  ledger/byzcoin/roster/task.go
  ledger/byzcoin/roster/task_test.go
  ledger/byzcoin/task.go
  ledger/byzcoin/task_test.go
  ledger/inventory/mem/mod.go
  ledger/inventory/mem/mod_test.go
  ledger/inventory/mod.go
  ledger/mod.go
  ledger/transactions/basic/mod.go
  mino/addr.go
  mino/addr_test.go
  mino/minoch/rpc.go
Labels: Byzcoin, R4M 🚀

#45 Minoch: extend coverage of unit tests
  mino/minoch/manager.go
  mino/minoch/manager_test.go
  mino/minoch/mod.go
  mino/minoch/mod_test.go
  mino/minoch/rpc.go
  mino/minoch/rpc_test.go
  mino/mod.go
Labels: Mino, R4M 🚀, enhancement

#41 Adds a first simple DKG implementations
  dkg/mod.go
  dkg/pedersen/handler.go
  dkg/pedersen/messages.pb.go
  dkg/pedersen/messages.proto
  dkg/pedersen/mod.go
  dkg/pedersen/mod_test.go
  mino/minogrpc/README.md
  mino/minogrpc/mod.go
  mino/minogrpc/mod_test.go
  mino/minogrpc/overlay.go
  mino/minogrpc/overlay.pb.go
  mino/minogrpc/overlay.proto
  mino/minogrpc/overlay_test.go
  mino/minogrpc/routing/message.proto
  mino/minogrpc/routing/routing.go
  mino/minogrpc/routing/routing_test.go
  mino/minogrpc/server.go
  mino/minogrpc/server_test.go
  mino/minogrpc/traffic.go
Labels: Mino, R4M 🚀

#46 Rotation in view change
  blockchain/skipchain/db.go
  blockchain/skipchain/handler.go
  blockchain/skipchain/handler_test.go
  blockchain/skipchain/messages.pb.go
  blockchain/skipchain/messages.proto
  blockchain/skipchain/ops.go
  blockchain/skipchain/ops_test.go
  blockchain/skipchain/validator.go
  blockchain/skipchain/validator_test.go
  consensus/cosipbft/messages.pb.go
  consensus/cosipbft/messages.proto
  consensus/cosipbft/mod.go
  consensus/cosipbft/mod_test.go
  consensus/cosipbft/queue.go
  consensus/cosipbft/queue_test.go
  consensus/cosipbft/requests.go
  consensus/cosipbft/requests_test.go
  consensus/qsc/broadcast_test.go
  consensus/viewchange/rotating/mod.go
  cosi/flatcosi/mod.go
  cosi/flatcosi/mod_test.go
  cosi/mod.go
  cosi/threshold/mod.go
  cosi/threshold/mod_test.go
  crypto/mod.go
  dkg/pedersen/mod_test.go
  internal/testing/fake/mod.go
  ledger/byzcoin/mod.go
  ledger/byzcoin/mod_test.go
  ledger/byzcoin/roster/mod.go
  ledger/byzcoin/roster/mod_test.go
  ledger/inventory/mem/mod.go
  ledger/inventory/mem/mod_test.go
  mino/addr.go
  mino/addr_test.go
  mino/minogrpc/mod_test.go
  mino/minogrpc/server_test.go
  mino/mod.go
Labels: R4M 🚀, enhancement

#48 Pedersen DKG: pb messages test
  dkg/pedersen/mod_test.go
Labels: R4M 🚀, enhancement

#50 ViewChange: add unit tests to the rotating view change
  consensus/viewchange/rotating/mod.go
  consensus/viewchange/rotating/mod_test.go
Labels: R4M 🚀, enhancement

#49 Gossip: cleaning and unit tests
  cosi/flatcosi/mod.go
  cosi/flatcosi/mod_test.go
  internal/testing/fake/mod.go
  ledger/byzcoin/mod.go
  ledger/byzcoin/mod_test.go
  mino/gossip/flat.go
  mino/gossip/flat_test.go
  mino/gossip/mod.go
Labels: Mino, R4M 🚀, enhancement

#47 Minogrpc refactoring
  blockchain/skipchain/ops.go
  blockchain/skipchain/ops_test.go
  cosi/threshold/actor.go
  cosi/threshold/actor_test.go
  dkg/pedersen/handler.go
  dkg/pedersen/mod.go
  dkg/pedersen/mod_test.go
  internal/testing/fake/mod.go
  mino/minoch/rpc.go
  mino/minoch/rpc_test.go
  mino/minogrpc/README.md
  mino/minogrpc/mod.go
  mino/minogrpc/mod_test.go
  mino/minogrpc/overlay.go
  mino/minogrpc/overlay.pb.go
  mino/minogrpc/overlay.proto
  mino/minogrpc/overlay_test.go
  mino/minogrpc/routing/message.pb.go
  mino/minogrpc/routing/message.proto
  mino/minogrpc/routing/routing.go
  mino/minogrpc/routing/routing_test.go
  mino/minogrpc/rpc.go
  mino/minogrpc/rpc_test.go
  mino/minogrpc/server.go
  mino/minogrpc/server_test.go
  mino/minogrpc/stream.go
  mino/minogrpc/stream_test.go
  mino/minogrpc/traffic.go
  mino/minogrpc/traffic_test.go
  mino/mod.go
Labels: Mino, R4M 🚀, enhancement

#53 Adds a first batch of technical documentation
  docs/assets/infograph.png
  docs/assets/logo.png
  docs/assets/logotype.png
  docs/assets/modules.png
  docs/assets/modulus.png
  docs/assets/packages.png
  docs/coverpage.md
  docs/introduction.md
Labels: R4M 🚀

#54 Tentative of a cli template
  cli/flag.go
  cli/mod.go
  cli/node/builder.go
  cli/node/builder_test.go
  cli/node/daemon.go
  cli/node/daemon_test.go
  cli/node/injector.go
  cli/node/injector_test.go
  cli/node/memcoin/mod.go
  cli/node/mod.go
  dkg/pedersen/mod_test.go
  go.mod
  go.sum
  internal/testing/fake/mod.go
  ledger/byzcoin/controller/mod.go
  mino/minogrpc/certs/mem.go
  mino/minogrpc/certs/mem_test.go
  mino/minogrpc/certs/mod.go
  mino/minogrpc/controller/actions.go
  mino/minogrpc/controller/actions_test.go
  mino/minogrpc/controller/mod.go
  mino/minogrpc/controller/mod_test.go
  mino/minogrpc/mod.go
  mino/minogrpc/mod_test.go
  mino/minogrpc/overlay.pb.go
  mino/minogrpc/overlay.proto
  mino/minogrpc/rpc_test.go
  mino/minogrpc/server.go
  mino/minogrpc/server_test.go
  mino/minogrpc/tokens/mod.go
  mino/minogrpc/tokens/mod_test.go
Labels: Mino, R4M 🚀

#56 Update license to allow detection
  LICENCE
  LICENCE.AGPL
  README.md
Labels: R4M 🚀
